doctype html
html
  head
    title=preRenderTitle
    link(rel="stylesheet/less", href="https://ysljl.sse.codesandbox.io/form.less",  type="text/css")
  body

    div.banner
      h1.title 404 Not found :(
      
    footer
        p  All rights reserved  2020
    script(src="https://pagecdn.io/lib/lessjs/v3.10.3/less.js" type="text/javascript")

    